<div class="row">
  <div class="columns large-10 large-centered">

    <div class="callout secondary">
      <form>
        <h4>Add a Link</h4>
        <div class="row">

          <div class="medium-8 columns">
            <label for="title">Title:
              <input type="text" name="title" #newtitle>
            </label>
          </div>
          <div class="medium-4 columns">
            <label for="link">Link:
              <input type="text" name="link" #newlink>
            </label>
          </div>
        </div>
        <button (click)="addArticle(newtitle, newlink)" class="positive right floated button">Submit Link</button>
      </form>
    </div>

    <div class="grid posts">
      <app-article
        *ngFor="let article of sortedArticle()"
        [article]="article"></app-article>
    </div>

  </div>
</div>
