<div class="large-2 columns votes">
  <div class="statistic text-center">
    <div class="value">
      {{article.votes}}
    </div>
    <div>
      Points
    </div>
  </div>
</div>
<div class="large-offset-1 large-5 columns ">
  <a href="{{article.link}}" class="title">
    {{article.title}}
  </a>
  <div class="meta">({{article.domain()}})</div>
</div>
<div class="large-3 columns">
  <div class="small button-group vote-btn">
    <a href (click)="voteUp()" class="button secondary arrow up">upvote</a>
    <a href (click)="voteDown()" class="button secondary arrow down">downvote</a>
  </div>
</div>
