@import './app/vendor/foundation.min.css';
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic&subset=latin);

body, html, h1, h2, h3, h4, h5 {
  font-family: 'Lato', sans-serif;
}

.header {
  font-size: 30px;
  font-weight: 700;
  letter-spacing: 2px;
}

.top-bar {
  margin-bottom: 80px;
}

.votes {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #E6E6E6;
  padding: 1em 0;
  border-radius: 5px;
}

.value {
  font-size: 40px;
  font-weight: 700;
}

.meta {
  color: #9A9A9A
}

.title {
  font-size: 24px;
  font-weight: 700;
}

.vote-btn .button {
  padding-left: 30px;
  position: relative;
}

.arrow::after {
  display: block;
  width: 0;
  height: 0;
  border: inset 6px;
  content: '';
  left: 10px;
  margin-top: -2px;
  position: absolute;
  top: 50%;
}

.arrow.up::after {
  border-top-width: 0;
  border-bottom-style: solid;
  border-color: transparent transparent #FFF;
}

.arrow.down::after {
  border-bottom-width: 0;
  border-top-style: solid;
  border-color: #FFF transparent transparent;
}
